{% extends "base.html" %}
{% block content %}

<h1>Customer Record</h1>

<div class="card">
    <div class="card-header">
        {{ customer_record.first_name }} {{ customer_record.last_name }}
    </div>
    <div class="card-body">
        </p class="card-text">
            <strong>ID: </strong>{{ customer_record.id }}<br/>
            <strong>Phone: </strong>{{ customer_record.phone }}<br/>
            <strong>Email: </strong>{{ customer_record.email }}<br/>
            <strong>Address: </strong>{{ customer_record.address }}<br/>
            <strong>City: </strong>{{ customer_record.city }}<br/>
            <strong>Create at: </strong>{{ customer_record.create_at }}<br/>
        </p>
    </div>
  </div>
<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'home' %}" class="btn btn-danger">Delete</a>


{% endblock %}